<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Google Maps Multiple Markers</title>
  <script src="https://maps.google.com/maps/api/js?key=AIzaSyDWGnx38pydVSCIUiGUaMnVRrNmZ_jBnZk"
          type="text/javascript"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.3.7/jquery.jscroll.js"></script>


   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<style>
.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 4px;
    margin: 1px 0;
    background-color: #9DCEFF;
    
}

.ms-options-wrap > .ms-options > ul li.selected label,
.ms-options-wrap > .ms-options > ul label:hover {
    background-color: #003A75;
    color:#fff;
}
</style>

</head>

<div class="indexpage">

<form method="get" action="/providers/search">

<div class= "advancedfilters">
        <% locprovider = ["Outpatient Therapy", "Outpatient Psychiatry", "Partial Hospitalization"] %>
    <h6><button class="locbutton" type="button">+</button> Level of Care Provided</h6>
    <div class="loclist">
        <div>
        <% locprovider.each do |each_loc| %>
        <div class="checkbox">
              <label><input type="checkbox" name="locprovider[]" value="<%= each_loc %>"><%= each_loc %></label>
        </div>
            <% end %>
        </div>
    </div>

    <% wordlist = ["APN", "ATR", "BA", "CAADC", "CADC", "INTERN", "LCPC", "LCSW", "LDN", "LMFT", "LPC", "LSW", "MD", "MSW", "OTHER", "PHD", "PSYD", "RD", "RN"] %>
    <h6><button class="credentialsbutton" type="button">+</button> Credentials</h6>
    <div class="credentialslist">

    <% wordlist.each do |each_cred| %>
    <div class="checkbox">
          <label><input type="checkbox" name="credentials[]" value="<%= each_cred %>"><%= each_cred %></label>
    </div>
        <% end %>

    </div>

    <% languages = ["ARABIC", "CHINESE", "ENGLISH", "GUJARATI", "HINDI", "LITHUANIAN", "POLISH", "PORTUGUESE", "PUNJABI", "RUSSIAN", "SIGN LANGUAGE", "SPANISH", "SWEDISH", "TAGALOG"]  %>
    <h6><button class="languagesbutton" type="button">+</button> Languages</h6>
    <div class="languageslist">

    <% languages.each do |each_language| %>
    <div class="checkbox">
          <label><input type="checkbox" name="languages[]" value="<%= each_language %>"><%= each_language %></label>
    </div>
        <% end %>
    </div>

    <% agespecialty = ["0-5", "6-11","12-17", "18-50", "50+"]  %>
    <h6><button class="agespecialtybutton" type="button">+</button> Age Specialty</h6>
    <div class = "agespecialtylist">

    <% agespecialty.each do |each_age| %>
    <div class="checkbox">
          <label><input type="checkbox" name="agespecialty[]" value="<%= each_age %>"><%= each_age %></label>
    </div>
        <% end %>
    </div>

    <% acceptedinsurance = ["AETNA","AETNA BETTER HEALTH MEDICAID FHP/ICP", "AETNA BETTER HEALTH MMAI","AETNA MEDICARE ADVANTAGE", "BCBS HMO","BCBS MEDICAID FHP/ICP","BCBS MEDICARE ADVANTAGE", "BCBS MEDICARE MMAI", "BCBS PPO" , "BCM","BEACON HEALTH OPTIONS,BEECH ST","CIGNA", "COFINITY","COMPSYCH","CONVENTRY","CONVENTRY MEDICARE ADVANTAGE","COUNTY CARE MEDICAID","FAMILY HEALTH NETWORK MEDICAID","HARMONY MEDICAID PLAN","HARMONY MEDICARE ADVANTAGE", "HEALTHLINK", "HEALTHSMART", "HEALTHSPRINGS MEDICAID FHP/ICP","HEALTHSPRINGS MMAI","HFN","HUMANA","HUMANA MEDICAID FHP/ICP","HUMANA MEDICARE ADVANTAGE","HUMANA MMAI","ILLINICARE MEDICAID FHP/ICP","ILLINICARE MMAI","LAND OF LINCOLN","MAGELLAN","MEDICAID TRADITIONAL","MEDICARE TRADITIONAL","MERIDIAN MEDICAID FHP/ICP","MERIDIAN MMAI","MHNET","MULTIPLAN","OTHER","PHCS","SELF PAY","SLIDING SCALE","TRICARE","UNITED HEALTHCARE","UNITED HEALTHCARE MEDICARE ADVANTAGE"]  %>
    <h6><button class="acceptedinsurancebutton" type="button">+</button> Accepted Insurance</h6>
    <div class="acceptedinsurancelist">

    <% acceptedinsurance.each do |each_insurance| %>
    <div class="checkbox">
          <label><input type="checkbox" name="acceptedinsurance[]" value="<%= each_insurance %>"><%= each_insurance %></label>
    </div>
        <% end %>
    </div>

    <% specialtyareas = ["ADDICTION", "ADHD", "ADOPTION", "ANGER MANAGEMENT", "ANXIETY", "AUTISM SPECTRUM", "CHRONIC MENTAL ILLNESS", "CHRONIC PAIN", "DEPRESSION", "DUI SERVICES", "EATING DISORDERS", "FIRST RESPONDERS", "GERIATRIC", "GRIEF/LOSS", "IN HOME COUNSELING/THERAPY", "LQBTQ", "MENTAL HEALTH", "MOOD DISORDERS", "NEUROPSYCH", "OCD", "PERINATAL", "PERSONALITY DISORDERS", "RELIGIOUS/SPIRITUAL", "SELF INJURY", "SEXUAL DISORDER", "SUBOXONE", "TRAUMA", "VETERANS"]  %>
    <h6><button class="specialtyareasbutton" type="button">+</button> Specialty Areas</h6>
    <div class="specialtyareaslist">

    <% specialtyareas.each do |each_area| %>
    <div class="checkbox">
          <label><input type="checkbox" name="specialtyareas[]" value="<%= each_area %>"><%= each_area %></label>
    </div>
        <% end %>
    </div>

    <% treatmentmodality = ["ACT", "CBT", "CLIENT CENTERED", "DBT", "ECLECTIC", "FAMILY SYSTEMS", "GESTALT", "NONE", "PSYCHDYNAMIC", "PSYCHOPHARMACOLOGY", "RAPID RESOLUTION THERAPY", "STRENGTHS BASED THERAPY", "TRAUMA INFORMED"]  %>
    <h6><button class="treatmentmodalitybutton" type="button">+</button> Treatment Modality</h6>
    <div class="treatmentmodalitylist">

    <% treatmentmodality.each do |each_treatment| %>
    <div class="checkbox">
          <label><input type="checkbox" name="treatmentmodality[]" value="<%= each_treatment %>"><%= each_treatment %></label>
    </div>
        <% end %>
    </div>
    <input type="hidden" name="search" value=<%= @search %>>
  <button type="submit">Submit</button>

</form>


</div>

<div class="providercard">
	<h6 class="searchresults">SEARCH RESULTS FOR: <%= @search %>   
    </h6>
    <h5 class="entries"> <%=  page_entries_info(@providers) %> </h5>

	 <% @providers.each do |provider| %>
		<div class=" eachprovider cardsize">
			<div class="avatar">
				<img src="/images/avatar.jpg">
			</div>
			<div>
			<span class = "name">
				<a  href="/providers/<%= provider.id %>"><%= provider.firstname + " " + provider.lastname %></a><br>
				</span>
				<i class="title"><%= provider.title %></i>
				<p><%= provider.accountname %></p>
				<span class="fa fa-map-marker"></span>
				<span class="citystate"><%= provider.distance.to_s %> | <%= provider.mailingcity.to_s + ", " + provider.mailingstate.to_s %></span>
				<br>
				<br>
				<form action="mailto:<%= provider.email %>" method="post" enctype="text/plain">
				<input type="image" src="/images/emailicon.png" border="0" alt="Submit">

				<form action="mailto:<%= provider.email %>" method="post" enctype="text/plain">
				<input type="image" src="/images/phone-outline.png" border="0" alt="Submit">
				<% @locations << [provider.accountname.strip, provider.maillatitude, provider.maillongitude] %>
</form>
			</div>
		</div>
		<br>
	<% end %>
	<span class = "will_paginate"> <%= will_paginate @providers %> </span>
	<br>
</div>
<div >

<div class="map-position">
    <div id="map"></div>
</div>
</div>
    
</div>


<div>


  <script type="text/javascript">
var locations = <%=raw @locations %>
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      styles: [
    {
        "featureType": "administrative",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "lightness": 33
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2e5d4"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#c5dac6"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#c5c6c6"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#e4d7c6"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#fbfaf7"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#acbcc9"
            }
        ]
    }
],

      center: new google.maps.LatLng(<%= latlon(@search)["lat"] %>, <%= latlon(@search)["lng"] %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>


</div>
</div>
</div>