
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Google Maps Multiple Markers</title>
  <script src="https://maps.google.com/maps/api/js?key=AIzaSyC_VdOLBtVFbR-6rRP5-hRFXChHa78bDmM"
          type="text/javascript"></script>
</head>

<div class="showpage">
	<div class="avatar">
		<img src="/images/avatar.jpg">
	</div>

	<div>
		<span class="bigname"><%= @provider.firstname + " " + @provider.lastname %></span>
		<br>
		<i class="title"><%= @provider.title %></i>
		<br>
		<span><%= @provider.crlphonenumber %></span>
	</div>

</div>
<% @location = [] %>
<% @location << [@provider.accountname.strip, @provider.maillatitude, @provider.maillongitude] %>

<div class="map-position1">
<div id="map" style="width: 100%; height: 150px;"></div>
  <script type="text/javascript">
	var map = new google.maps.Map(document.getElementById('map'), {
	      zoom: 11,

	      styles: [
    {
        "featureType": "administrative",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "lightness": 33
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2e5d4"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#c5dac6"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#c5c6c6"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#e4d7c6"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#fbfaf7"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#acbcc9"
            }
        ]
    }
],
	      center: new google.maps.LatLng(<%= @provider.maillatitude %>, <%= @provider.maillongitude%>),
	      mapTypeId: google.maps.MapTypeId.ROADMAP
	    });
        var locations = <%= raw @location %>
		var infowindow = new google.maps.InfoWindow();
		var marker;

		marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[0][1], locations[0][2]),
        map: map
      });

		google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {
			infowindow.setContent(locations[0][0]);
			infowindow.open(map, marker);
		}
	})(marker));
</script>

<div class="qualcontainer">

<h1 class="name"> Qualifications and Experience</h1>
<div class="qualifications">
    <div class="qualitysubject">Practice Name</div>
    <div class="qualities"><%= @provider.accountname %></div>
</div>
<div class="qualifications">
    <div class="qualitysubject">Phone</div>
    <div class="qualities"><%= @provider.crlphonenumber %></div>
</div>
<div class="qualifications" >
    <div class="qualitysubject">Address</div> 
    <div class="qualities"><%= @provider.mailingaddress %></div>
    <div class="qualities">, <%= @provider.mailingcity %>, <%= @provider.mailingstate %> <%= @provider.mailingzip %></div>
</div>
<div class="qualifications">
    <div class="qualitysubject">Fax</div>
    <div class="qualities"><%= @provider.accountfax %></div>
</div>
<div class="qualifications">
    <div class="qualitysubject">Website</div>

    <div class="qualities">
        <a href="<%= @provider.website %>"><%= @provider.website %></a>
    </div>
</div>
<div class="qualifications">
    <div class="qualitysubject">Level of Care Provided</div>
    <div class="qualities"><%= @provider.locprovided %></div>
</div>
<div class="qualifications">
    <div class="qualitysubject">Patient Age Bracket</div>
    <div class="qualities">
    <% unless @provider.patientagebracket.nil? %>
    <% @provider.patientagebracket.split(";").each do |patientagebracket|%>
    <%= patientagebracket %>
    <br>
    <% end %><% end
     %>   
    </div>
</div>
<div class="qualifications">
    <div class="qualitysubject">Languages</div>
    <div class="qualities">
    <% unless @provider.languages.nil? %>
<% @provider.languages.split(";").each do |languages|%>
    <%= languages %>
    <br>
    <% end %>  
    <% end %>
    </div>
</div>
<div class="qualifications">
    <div class="qualitysubject">Insurane Panels</div>
    <div class="qualities">
    <% unless @provider.insurancepanels.nil? %>
<% @provider.insurancepanels.split(";").each do |insurance|%>
    <%= insurance %>
    <br>
    <% end %>  
    <% end %>
    </div>
</div>
<div class="qualifications">
    <div class="qualitysubject">Specialty Areas</div>
    <div class="qualities">
    <% unless @provider.specialtyareas.nil? %>
<% @provider.specialtyareas.split(";").each do |specialty|%>
    <%= specialty %>
    <br>
    <% end %>  
    <% end %>
    </div>
</div>
<div class="qualifications">
    <div class="qualitysubject">Treatment Modality</div>
    <div class="qualities">
    <% unless @provider.treatmentmodality.nil? %>
<% @provider.treatmentmodality.split(";").each do |modality|%>
    <%= modality %>
    <br>
    <% end %>  
    <% end %>
    </div>
</div>
<div class="qualifications">
    <div class="qualitysubject">Treatment Orientation</div>
    <div class="qualities">
    <% unless @provider.treatmentorientation.nil? %>
<% @provider.treatmentorientation.split(";").each do |treatment|%>
    <%= treatment %>
    <br>
    <% end %>
    <% end %>  
    </div>
</div>

</div>

