<div class ="homepageheight">
<body class="homepage">
	
<p class="homepageheading">Your #1 online resource for Behavioral Health Care Provider Referrals</p>

<div class="centerform">

<%= form_tag providers_path, :method => 'get' do %>

<p>
	<%= select  :insurance, params[:insurance], [["AETNA"], ["AETNA BETTER HEALTH MEDICAID FHP/ICP"], ["BCBS PRO"], ["BCM"], ["BEACON HEALTH OPTIONS"], ["BEECH ST"],["CIGNA"],["COMPSYCH"], ["CONVENTRY"], ["HEALTHLINK"], ["HFN"],["HUMANA"], ["MAGELLAN"], ["LAND OF LINCOLN"], ["MEDICARE TRADITIONAL"], ["MHNET"], ["MULTIPLAN"], ["PHCS"], ["SELF PAY"], ["SLIDING SCALE"], ["TRICARE"], ["UNITED HEALTHCARE"]], {}, {id: "mainselection"} %>
	<%= text_field_tag :cityzip, params[:cityzip], placeholder: "zip code or city" %>
	<%= button_tag type: 'submit', :name => nil, class: "button my-button", id: "register-button" do%>
		<i class = "fa fa-search" aria_ hidden="true"></i>
	<% end %>
</p>
<% end %>
<% if @error %>
<p style="color: white;"> <%= @error %></p>
<% end %>
</div>
</body>
</div>
